img{
    width: 120px;
    border-radius: 20px;
    border: solid rgb(67, 41, 75) 5px ;
    margin-left: 40px;
  
}
.div2{
    padding: 30px;
}
h1{
    display: block;
}
.div1{
    margin: auto;
    text-align: center;
    background-color: rgb(135, 222, 202);
    width: 50%;
    /* border-width: 50%;
    width:500px; */
    /* width: 0%;
    height: 0%;
    background-origin: padding-box;
    background-color: blue;
    border: 1px solid blue;
    border-color: aqua; */
}
h2{
    border-bottom: 3px solid blue;
    color: white;
}